<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categroy Board</title>
    <link rel="stylesheet" href="../../../resources/static/css/board.css">
    <script src="../../../resources/static/js/board.js" defer></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <h1>CINEMA BOARD<i class="fa-solid fa-clapperboard"></i></h1>

    <div class="insertInput wrap">
      <label for="insertTitle">영화 제목</label>
      <input type="text" name="insertTitle" />
      <select name="categorySelect" id="insertCategorySelect"></select>
      <label for="insertContent">영화 후기</label>
      <textarea
        name="insertContent"
        id="insertContent"
        cols="50"
        rows="2"
      ></textarea>
      <button onclick="insert();" class="btn btn-primary">영화후기 등록</button>
    </div>

    <div class="searchBar wrap">
      <label for="search">검색</label>
      <input type="text" name="search" />
      <button onclick="search();" class="btn btn-info">영화후기 검색</button>
      <button onclick="deleteBoard();" class="btn btn-danger">
        영화후기 삭제
      </button>
    </div>

    <div class="updateInput wrap">
      <label for="updateTitle">영화 제목</label>
      <input type="text" name="updateTitle" />
      <select name="categorySelect" id="updateCategorySelect"></select>
      <label for="updateContent">영화 후기</label>
      <textarea
        name="updateContent"
        id="updateContent"
        cols="50"
        rows="2"
      ></textarea>
      <button onclick="update();" class="btn btn-success">영화후기 수정</button>
    </div>

    <div class="insertTable">
      <table>
        <colgroup>
          <col style="width: 5%" />
          <col style="width: 25%" />
          <col style="width: 35%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <tr>
            <th>NO</th>
            <th>TITLE</th>
            <th>CONTENT</th>
            <th>CATEGORY</th>
            <th>CREATED DATE</th>
            <th>MODIFIED DATE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6">검색결과가 없습니다.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="boardCount">전체 게시글 <span class="cnt">0</span>개</p>
    <div class="listTable">
      <table>
        <colgroup>
          <col style="width: 5%" />
          <col style="width: 25%" />
          <col style="width: 35%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <tr>
            <th>NO</th>
            <th>TITLE</th>
            <th>CONTENT</th>
            <th>CATEGORY</th>
            <th>CREATED DATE</th>
            <th>MODIFIED DATE</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <!-- <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li> -->
      </ul>
    </nav>
  </body>
</html>
