body {
  text-align: center !important;
  padding: 30px 100px;
}
h1 {
  margin-bottom: 30px !important;
  font-weight: 600 !important;
  color: #a642c5 !important;
  text-shadow: 2px 4px 5px #d696ff;
}
input,
textarea,
section {
  border: 1px solid #a7a7a7;
}
.wrap {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
  background: #faf4ff;
}
table {
  width: 100%;
}
.insertTable {
  margin-bottom: 30px;
}
.boardCount {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}
.boardCount .cnt {
  font-size: 22px;
  color: #8b64e7;
}
label {
  font-weight: 600;
}
tr:hover {
  background: #ebccff;
}
th,
td {
  text-align: center !important;
  height: 40px;
  padding: 10px;
}
th {
  background: #f5e9ff;
}
.btn {
  background: #fff;
}
.pagination {
  justify-content: center;
  margin-top: 30px;
}
.pagination .page-link {
  width: 40px;
  height: 40px;
  color: #8b64e7;
  font-weight: 600;
}
